@model NET6LINQImprovements.Models.ShowResultViewModel
@{
    ViewData["Title"] = "View";
}

@{
    <h2>MaxBy / MinBy in .Net6</h2>
   <br />
    <div class="container-fluid">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Max By:</span>
                </div>
                <input asp-for="Result1" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min By:</span>
                </div>
                <input asp-for="Result2" type="text" class="form-control">
            </div>
        </form>
    </div>
   
//    <p>
//    <label>Result1:</label>
//    <input asp-for="Result1" id="txtResult" readonly="readonly"/>
//    <br />
//    </p>
//    <p>
//    <label>Result2:</label>
//    <input asp-for="Result2" id="txtResult2" readonly="readonly"/>
//</p> 
//</div>
}
