@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-4">Welcome to new .Net6 features</h1>
    
    <br />
    <br />
    <ul class="list-group">
  <li class="list-group-item"><a href="OrDefaultEnhancements/Index"> OrDefaultEnhancements</a></li>
  @*<li class="list-group-item"><a href="TakeWithRange/Index"> TakeWithRange In .Net6</a></li>*@
  <li class="list-group-item"><a href="MaxByMinBy/Index"> MaxBy / MinBy</a></li>
  <li class="list-group-item"><a href="MaxByMinByPerson/Index"> MaxBy / MinBy  (using sample Person class)</a></li>
  <li class="list-group-item"><a href="IEnumerableChunk/Index"> IEnumerable Chunk</a></li>
  <li class="list-group-item"><a href="DateOnlyTimeOnly/Index"> DateOnly / TimeOnly</a></li>
  <li class="list-group-item"><a href="PriorityQueue/Index"> Priority Queue</a></li>
  <li class="list-group-item"><a href="PriorityQueueCustomComparers/Index"> Priority Queue Custom Comparers</a></li>
  <li class="list-group-item"><a href="Zip/Index"> Zip method</a></li>
  <li class="list-group-item"><a href="IndexInElementAt/Index"> Index in ElementAt method</a></li>

</ul>

</div>
