@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-4">Welcome to new .Net6 features</h1>
    
    <br />
    <br />
    <ul class="list-group">
  <li class="list-group-item"><a href="OrDefaultEnhancements/Index"> OrDefaultEnhancements In .Net6</a></li>
  @*<li class="list-group-item"><a href="TakeWithRange/Index"> TakeWithRange In .Net6</a></li>*@
  <li class="list-group-item"><a href="MaxByMinBy/Index"> MaxBy / MinBy In .Net6</a></li>
  <li class="list-group-item"><a href="MaxByMinByPerson/Index"> MaxBy / MinBy  (using sample Person class) In .Net6</a></li>
  <li class="list-group-item"><a href="IEnumerableChunk/Index"> IEnumerable Chunk In .Net6</a></li>
</ul>

</div>
