@model NET6LINQImprovements.Models.ShowResultViewModel
@{
    ViewData["Title"] = "View";
}

@{
    <h2>View</h2>
    <div>
   
    <p>
    <label>FirstOrDifaut without setting default returns:</label>
    <input asp-for="Result" id="txtResult" readonly="readonly"/>
    <br />
    </p>
    <p>
    <label>FirstOrDifaut with setting default=-1 in .Net6 returns:</label>
    <input asp-for="ResultwithDefault" id="txtResultwithDefault" readonly="readonly"/>
</p> 
</div>
}
