@model NET6LINQImprovements.Models.ShowResultViewModel
@{
    ViewData["Title"] = "View";
}

@{
    <h2>MaxBy / MinBy in .Net6 (using Person class as sample class)</h2>
    <br />
    <div class="container-fluid">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Max:</span>
                </div>
                <input asp-for="Result1" type="text" class="form-control">
            </div>
            <br/>
            <span class="input-group-text">Max By:</span>
             <br/>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name:</span>
                </div>
                <input asp-for="Name" type="text" class="form-control">
            </div>
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Age:</span>
                </div>
                <input asp-for="Age" type="text" class="form-control">
            </div>
        </form>
    </div>
    
}
